<div class="container">
    <h2>Liste des Congés</h2>
    <table class="table table-hover">
      <thead >
        <tr  >
          <th  >Nom et  Prenom</th>
          <th>Date de Début</th>
          <th>Date de Fin</th>
          <th>Raison</th>
          <th>Date de dépot</th>
          <th> Solde de conges</th>
          <th> Statut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conge of conges">
          <td>{{ conge.fullName }}</td>
          <td>{{ conge.dateDebut | date }}</td>
          <td>{{ conge.dateFin | date }}</td>
          <td>{{ conge.reason }}</td>
          <td>{{ conge.dateValidation | date }}</td>
          <td>{{conge.countVacation}}</td>
          <td class="{{conge.status}}">
            {{conge.status}}
          </td>
          <td>
            <button name="refuse" type="button" (click)="refuseVacation(conge)"  class="btn btn-light">Refuser</button>
            <button name="validate" type="button" (click)="validateVacation(conge)" class="btn btn-secondary">Valider </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  