<button class="btn btn-link nav-item nav-link" (click)="logout()" *ngIf="isAuthenticated()">Logout</button>

<style>
/* Correctly targets the button with multiple classes */
.btn.btn-link.nav-item.nav-link {
    color: #c82333;                /* Couleur de texte */
    text-decoration: underline;    /* Soulignement du texte */
}

/* Optionally, add a hover effect */
.btn.btn-link.nav-item.nav-link:hover {
    color: #b71c1c;               /* Couleur légèrement plus foncée lors du hover */
}
</style>

<router-outlet></router-outlet>
