<div class="container mt-5">
  <div class="text-center">
    <!-- Affichage de l'année et du mois actuel -->
    <h4>{{ viewDate | date: 'MMMM yyyy' }}</h4>

    <!-- Boutons de navigation pour les mois -->
    <div class="mb-3">
      <button class="btn btn-primary" (click)="prevMonth()">Mois Précédent</button>
      <button class="btn btn-primary" (click)="goToToday()">Aujourd'hui</button>
      <button class="btn btn-primary" (click)="nextMonth()">Mois Suivant</button>
    </div>
  </div>

  <!-- Affichage du calendrier avec les jours du mois -->
  <div class="calendar">
    <div class="calendar-header">
      <div *ngFor="let dayName of ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim']" class="calendar-day-name">
        {{ dayName }}
      </div>
    </div>
    <div class="calendar-body">
      <div *ngFor="let day of getDaysInMonth(viewDate)" class="calendar-day">
        <button (click)="openModal(content, day)" [ngClass]="{'selected-day': isDateSelected(day)}" class="btn btn-light">

          {{ day | date: 'dd' }}
        </button>
        <div class="date-info">
          <!-- Affiche les événements pour ce jour -->
          <div *ngFor="let event of getEventsForDay(day)" class="event">
            <span class="{{ event.status}}">{{ event.status }} </span>
            <button class="btn btn-warning btn-sm ms-2" (click)="editConge(event, content)">Modifier</button>
            <button class="btn btn-danger btn-sm ms-2" (click)="deleteConge(event)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour l'ajout ou la modification d'un événement -->
 
  <!-- Modal pour l'ajout ou la modification d'un événement -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ isEditing ? 'Modifier un congé' : 'Ajouter un congé' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="eventTitle">Titre:</label>
        <input type="text" class="form-control" id="eventTitle" [(ngModel)]="eventTitle" name="Title" required>
      </div>
      <div class="form-group">
        <label for="startDate">Date de début:</label>
        <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate " name="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">Date de fin:</label>
        <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate" required>
      </div>
      <div class="form-group">
        <label for="reason">Raison:</label>
        <input type="text" class="form-control" id="reason" [(ngModel)]="reason" name="reason" required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Annuler</button>
      <button type="button" class="btn btn-primary" [disabled]="!isFormValid()" (click)="isEditing ? updateConge() : addConge()">Sauvegarder</button>
    </div>
  </ng-template>

  <hr>

  <!-- Liste des événements -->
  <div *ngIf="events.length > 0">
    <h3>Congés ajoutés :</h3>
    <ul>
      <li *ngFor="let event of events">
        {{ event.title }} - {{ event.dateDebut | date:'shortDate' }} au {{ event.dateFin | date:'shortDate' }} ({{ event.reason }})
        <p> votre status de date 
          {{event.status}}</p>
        <button class="btn btn-warning btn-sm ms-2" (click)="editConge(event, content)">Modifier</button>
        <button class="btn btn-danger btn-sm ms-2" (click)="deleteConge(event)">Supprimer</button>
      </li>
    </ul>
  </div>

 
</div>
